<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">{{comp.id}}:<b>{{comp.title}}</b>
		 </div>
		 <div class="panel-body">{{comp.body}}
		 </div>
	</div>
</div>
{{yield}}