{{#each model as |album|}}
  <div class="panel panel-default"{{action "redirect" album}}>
    <div class="panel-heading">
      <div class="panel-title">{{album.id}}</div>
      <div class="panel-body">
        <p>{{album.title}}</p>
      </div>
    </div>
  </div>
{{/each}}
{{outlet}}

  
    
          
        
         
      
  
 

