{{#each model as |album|}}
  <div class="panel panel-default"{{action "redirect" album}}>
    {{#album-comp comp=album}}
{{/album-comp}}
</div>
{{/each}}
{{outlet}}

  
    
          
        
         
      
  
 

