{{#link-to 'post'}}<button class="btn btn-dark">back</button>{{/link-to}}
<h3>comments</h3>
{{#each comments as |comment|}}
  <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
    <div class="panel panel-default" style="cursor:auto">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Name: </b>{{comment.name}}</h3>
        <h3 class="panel-title"><b> Email: </b> {{comment.email}}</h3>
         </div>
        <div class="panel-body">
        <p>{{comment.body}}</p>
      </div>
      </div>

  </div>
{{/each}}
{{outlet}}