{{#each post as |post|}} 
	<div class="panel panel-default"{{action 'move' post}}>
		<div class="panel-heading">
			<div class="panel-title">{{post.id}}
	    </div>
		<div class="panel-body" >
	<p>{{post.body}}</p>
</div>
</div>
</div>
{{/each}}
{{outlet}}