<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "index" class="navbar-brand"}}Yasma{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        {{#nav-link "index"}}Home{{/nav-link}}
        {{#nav-link "post"}}post{{/nav-link}}
        {{#nav-link "album"}}album{{/nav-link}}
      </ul>
    </div>
  </div>
</nav>
{{outlet}}