<h1>Photos</h1>

{{#each model as |photos|}}
    <div class="item  col-xs-3">
	<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{photos.title}}</h3>
	<img src="{{photos.thumbnailUrl}}">
</div>
</div>
</div>
{{/each}}
{{outlet}}