<h1>Post</h1>

{{#each model as |post|}}

	<div class="panel panel-default">
	<div class="panel-heading">
		<button class="panel-title">{{post.title}}
	 </button>
	</div>
	<div class="panel-body">
<p>{{post.userId.name}}</p>

</div>
</div>
{{/each}}
{{outlet}}